.bg-rosewood {
    background-color: #a52a2c;
    color: #a52a2c;
}

.bg-red {
    background-color: red;
    color: red;
}

.bg-beige {
    background-color: #f5f5dd;
    color: #f5f5dd;
}

.bg-blue {
    background-color: blue;
    color: blue;
}

.bg-yellow {
    background-color: yellow;
    color: yellow;
}
